{{!< default}}
<div class="container">
{{#if folders}}
<div class="panel-group" id="accordion">
	{{#each folders}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title title-faq">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{folder.key}}" aria-expanded="false">{{folder.name}} <span class="caret caret-faq"></span></a>
				</h4>
			</div>
			<div id="collapse{{folder.key}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
				{{#if files}}
				<table class="table">
				<thead>
				<tr><th>File</th><th>Last Modified</th><th>Created</th>
				</tr>
				{{#each files}}
					<tr><td>
					<a href="/file/{{_id}}" target="_blank">
					<img src="http://www.stdicon.com/{{mimetype}}" style="max-height: 20px;"> {{name}}
					</a>
					</td><td>{{updatedAt}} by {{updatedBy.name.first}} {{updatedBy.name.last}}</td><td>{{createdAt}} by {{createdBy.name.first}} {{createdBy.name.last}}</td></tr>
				{{/each}}
				</tbody>
				</table>
				{{else}}
				<p>There are no files in this folder</p>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>
{{/if}}

{{#if files}}
<table class="table">
<thead>
<tr><th>File</th><th>Last Modified</th><th>Created</th>
</tr>
{{#each files}}
<tr><td>
<a href="/file/{{_id}}" target="_blank">
<img src="http://www.stdicon.com/{{mimetype}}" style="max-height: 20px;"> {{name}}
</a>
</td><td>{{updatedAt}} by {{updatedBy.name.first}} {{updatedBy.name.last}}</td><td>{{createdAt}} by {{createdBy.name.first}} {{createdBy.name.last}}</td></tr>
{{/each}}
</tbody>
</table>
{{/if}}
</div>
