{{!< default}}
<div class="container">
<table class="table">
<thead>
<tr><th>File/Folder</th><th>Last Modified</th><th>Created</th>
<t/tr>
</thead>
<tbody>
{{#each folders}}
<tr><td>
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{folder}} <span class="caret"></span></button>
	<ul class="dropdown-menu">
	{{#if files}}
	{{#each files}}
		<li>
			<a href="/public/uploads/{{file.filename}}">
			<img src="http://www.stdicon.com/{{file.filetype}}" style="max-height: 20px;"> {{name}}
			</a>
		</li>
	{{/each}}
	{{else}}
		<li class="disabled"><a href="#">There are no files in this folder</a></li>
	{{/if}}
	</ul>
</div>
</td></tr>
{{/each}}
{{#each files}}
<tr><td>
<a href="/public/uploads/{{file.filename}}">
<img src="http://www.stdicon.com/{{file.filetype}}" style="max-height: 20px;"> {{name}}
</a>
</td><td>{{updatedAt}} by {{updatedBy.name.first}} {{updatedBy.name.last}}</td><td>{{createdAt}} by {{createdBy.name.first}} {{createdBy.name.last}}</td></tr>
{{/each}}
</tbody>
</table>
</div>
